/*
v2018.5.19
*/

$Art: '../../art/';

/* ------------------------------------------------ html tags */

html                   { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
html {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: hsla(39, 77%, 83%, 1);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
figure {
    display: block;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------ plugins */

.elBody.vex-open {
    overflow:visible;
}

/* ------------------------------------------------ mapico */

.planetmap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    .mapibox {
        flex-grow: 1;
    }
}

.mapibox {

    display:block;
    background-position:0% 0%;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(#{$Art}Planet_bgr.svg);

    // box model

    max-width: 125vh;
    max-height: 100vh;
    margin: 1rem;
    overflow: hidden;

    .mapibox__mama {
        position: relative;
        display:block;
        padding-top: 100%;
    }

}
.mapico {
    pointer-events: none;
    position: absolute;
    display: block;
    .mapico_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .mapico_marker {
        position: absolute;
        z-index: 1;
        display:none;
        bottom: 0;
        left: 50%;
        margin-left: -1rem;
        width: 2rem;
        height: 2rem;
        background-color: firebrick;
        border-radius: 50%;
        &.is-active {
            display:block;
        }
    }
    &:hover .mapico_marker.animated {
        animation-duration:0;
        animation-name:none;
    }
    .mapico_trigga {
        pointer-events: all;
        display:block;
        width:2rem;
        height:2rem;
        background:brown;
    }

    &.is-hidden {
        .mapico_img {
            display:none;
        }
    }

    &.from-contacts {
        &:hover {
            z-index: 9;
            .mapico_img {
                transform: scale(1.2);
            }
        }
    }

    &.from-landmarks {
        .mapico_img {
            opacity: 0.25;
        }
    }
}
