/*
Based on: Planet_preview.svg
v2018.5.19
*/

.mapico--index {
    left: 41.4132%;
    top: 15.7746%;
    width: 12.0387%;
    height: 18.9855%;
}
.mapico--kanban {
    left: 46.4787%;
    top: 30.6038%;
    width: 12.7213%;
    height: 10.2779%;
}
.mapico--content {
    left: 52.4386%;
    top: 20.0191%;
    width: 25.0166%;
    height: 8.4943%;
}
.mapico--index_valley {
    left: 23.2899%;
    top: 12.6125%;
    width: 29.69%;
    height: 31.9514%;
}
.mapico--router_lakes {
    left: 50.5472%;
    top: 4.1162%;
    width: 30.8565%;
    height: 17.6538%;
}
.mapico--content_fields {
    left: 62.3299%;
    top: 15.63%;
    width: 18.4627%;
    height: 15.3166%;
}
.mapico--seobot1 {
    left: 80.076%;
    top: 17.32%;
    width: 4.8639%;
    height: 6.8839%;
}
.mapico--seobot2 {
    left: 84.96%;
    top: 12.74%;
    width: 5.1848%;
    height: 6.1575%;
}
.mapico--market {
    left: 52.3489%;
    top: 30.9451%;
    width: 28.6511%;
    height: 19.2449%;
}
.mapico--header_mountains {
    left: 41.8199%;
    top: 2.2219%;
    width: 28.9101%;
    height: 12.5106%;
}
