.mapico--index {
    left: 414.132 px;
    top: 157.746 px;
    width: 120.387 px;
    height: 189.855 px;
}
.mapico--kanban {
    left: 464.787 px;
    top: 306.038 px;
    width: 127.213 px;
    height: 102.779 px;
}
.mapico--content {
    left: 524.386 px;
    top: 200.191 px;
    width: 250.166 px;
    height: 84.943 px;
}
.mapico--index_valley {
    left: 232.899 px;
    top: 126.125 px;
    width: 296.9 px;
    height: 319.514 px;
}
.mapico--router_lakes {
    left: 505.472 px;
    top: 41.162 px;
    width: 308.565 px;
    height: 176.538 px;
}
.mapico--content_fields {
    left: 623.299 px;
    top: 156.3 px;
    width: 184.627 px;
    height: 153.166 px;
}
.mapico--seobot1 {
    left: 800.76 px;
    top: 173.2 px;
    width: 48.639 px;
    height: 68.839 px;
}
.mapico--seobot2 {
    left: 849.6 px;
    top: 127.4 px;
    width: 51.848 px;
    height: 61.575 px;
}
.mapico--market {
    left: 523.489 px;
    top: 309.451 px;
    width: 286.511 px;
    height: 192.449 px;
}
.mapico--header_mountains {
    left: 418.199 px;
    top: 22.219 px;
    width: 289.101 px;
    height: 125.106 px;
}
